:root {
  --primary-color: #B90000ff;
  --primary-color-rgb: 72, 177, 251;
  --secondary-color: #F2BC51ff;
  --secondary-color-rgb: 254, 231, 74;
  --tertiary-color: #004DA3ff;
  --tertiary-color-rgb: 10, 63, 135;
}